[Unit]
Description="HashiCorp Vault run as a docker container"
After=network-online.target docker.service
Requires=network-online.target docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ image_name }}:{{ vault_version }}
ExecStart=/usr/bin/docker run --rm \
  --name %n \
  -v vault_logs:/vault/logs:rw \
  -v vault_data:/vault/file:rw \
  -p {{ vault_port }}:{{ vault_port }} \
  --network=bridge \
  --cap-add=IPC_LOCK \
  --memory={{ memory | default('512mb') }} \
  --log-driver=journald \
  {{ image_name }}:{{ vault_version }} \
  server

[Install]
WantedBy=multi-user.target
