[Unit]
Description=Vault Unseal
Requires=network-online.target docker.service vault-service.service
After=network-online.target docker.service vault-service.service
PartOf=vault-service.service

[Service]
Type=oneshot
Environment="VAULT_ADDR={{ vault_addr }}"
Environment="UNSEAL_KEY1={{ unseal_key1 }}"
Environment="UNSEAL_KEY2={{ unseal_key2 }}"
Environment="UNSEAL_KEY3={{ unseal_key3 }}"
RemainAfterExit=true
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/vault operator unseal -tls-skip-verify "$UNSEAL_KEY1"
ExecStart=/usr/bin/vault operator unseal -tls-skip-verify "$UNSEAL_KEY2"
ExecStart=/usr/bin/vault operator unseal -tls-skip-verify "$UNSEAL_KEY3"
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
