[Unit]
Description=Prometheus service
Requires=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ install_dir }}/prometheus \
  --config.file {{ prometheus_config_dir }}/prometheus.yml \
  --storage.tsdb.path {{ prometheus_storage_dir }}/ \
  --web.console.templates={{ install_dir }}/consoles \
  --web.console.libraries={{ install_dir }}/console_libraries

[Install]
WantedBy=multi-user.target
