[Service]
CPUAccounting=true
MemoryAccounting=true
Environment="KUBELET_SYSTEM_PODS_ARGS=--anonymous-auth=false --read-only-port=0 --streaming-connection-idle-timeout=5m --protect-kernel-defaults=true --event-qps=0"
Environment="KUBELET_AUTHZ_ARGS=--authorization-mode=Webhook"
Environment="KUBELET_CERTIFICATE_ARGS=--rotate-certificates=true --feature-gates=RotateKubeletServerCertificate=true"
Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"
