[Journal]
Storage={{ journald_storage_option }}
Compress={{ journald_compress_option }}
Seal={{ journald_seal_option }}
SplitMode={{ journald_splitmode }}
SyncIntervalSec={{ journald_sync_interval }}
RateLimitInterval={{ journald_rate_limit_interval }}
RateLimitBurst={{ journald_rate_limit_burst }}
SystemMaxUse={{ journald_system_max_use }}
SystemKeepFree={{ journald_system_keep_free }}
SystemMaxFileSize={{ journald_max_file_size }}
RuntimeMaxUse={{ journald_runtime_max_use }}
RuntimeKeepFree={{ journald_runtime_keep_free }}
RuntimeMaxFileSize={{ journald_runtime_max_file_size }}
MaxRetentionSec={{ journald_max_retention_sec }}
MaxFileSec={{ journald_max_file_sec }}
ForwardToSyslog={{ journald_forward_to_syslog }}
ForwardToKMsg={{ journald_forward_to_kmsg }}
ForwardToConsole={{ journald_forward_to_console }}
ForwardToWall={{ journald_forward_to_wall }}
TTYPath={{ journald_tty_path }}
MaxLevelStore={{ journald_max_level_store }}
MaxLevelSyslog={{ journald_max_level_syslog }}
MaxLevelKMsg={{ journald_max_level_kmsg }}
MaxLevelConsole={{ journald_max_level_console }}
MaxLevelWall={{ journald_max_level_wall }}

