[Journal]
Storage=auto
Compress=yes
Seal=yes
SplitMode=uid
RateLimitInterval=30s
RateLimitBurst=1000
SystemMaxUse=150M
MaxRetentionSec=3month
SyncIntervalSec=4m
ForwardToSyslog=yes
ForwardToKMsg=no
ForwardToConsole=no
ForwardToWall=yes
MaxLevelStore=debug
MaxLevelSyslog=debug
MaxLevelKMsg=notice
MaxLevelConsole=info
MaxLevelWall=emerg
ForwardToWall=emerg
Audit=no
TTYPath=/dev/console
SystemKeepFree=""
SystemMaxFileSize=30M
RuntimeMaxUse=""
RuntimeKeepFree=""
RuntimeMaxFileSize=""
MaxFileSec=1month
