cluster.name: elasticsearch
node.name: {{ ansible_nodename }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
http.port: 9200

discovery.zen.ping.unicast.hosts: {{ play_hosts | to_json }}
discovery.zen.minimum_master_nodes: 1
