---

cluster.name: elasticsearch
node.name: {{ ansible_nodename }}
bootstrap.memory_lock: true
network.host: _site_
network.publish_host: {{ ansible_default_ipv4['address'] }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
http.port: 9200

discovery.zen.ping.unicast.hosts: {{ play_hosts | to_json }}
#discovery.zen.ping.unicast.hosts: [ elasticsearch.internal ]
discovery.zen.minimum_master_nodes: 2

xpack.security.authc:
  anonymous:
    username: elastic
    roles: superuser
