grant {
  permission java.lang.RuntimePermission "accessDeclaredMembers";
  permission java.lang.RuntimePermission "getClassLoader";
  permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
  permission java.net.SocketPermission "*", "connect, resolve";
//  permission java.io.FilePermission "/usr/share/elasticsearch/config/discovery-file", "read";
//  permission java.io.FilePermission "/usr/share/elasticsearch/config/discovery-file/*", "read";
};
