#!groovy

import jenkins.model.Jenkins
// import jenkins.security.s2m.AdminWhitelistRule

Jenkins jenkins = Jenkins.getInstance()

// Enable Agent to master security subsystem
// jenkins.getInjector().getInstance(AdminWhitelistRule.class).setMasterKillSwitch(false)

// Disable old Non-Encrypted protocols
HashSet<String> newProtocols = new HashSet<>(jenkins.getAgentProtocols())
newProtocols.removeAll(Arrays.asList("JNLP3-connect", "JNLP2-connect", "JNLP-connect", "CLI-connect"))
jenkins.setAgentProtocols(newProtocols)

jenkins.save()
