#!groovy

import jenkins.model.Jenkins
import org.jenkinsci.plugins.scriptsecurity.scripts.*

// List of approved script signatures (script approval plugin)
def signatures = [
  'staticMethod jenkins.model.Jenkins getInstance',
  'method hudson.model.AbstractCIBase getNodes',
  'method hudson.model.Computer getNode',
  'method hudson.model.Node getRootPath',
  'method hudson.model.Node getChannel',
  'method jenkins.model.Jenkins getItemByFullName java.lang.String',
  'method jenkins.model.Jenkins getComputers',
  'method hudson.FilePath getName',
  'method hudson.FilePath list',
  'method hudson.FilePath child java.lang.String',
  'method hudson.FilePath deleteRecursive',
  'method hudson.model.Job isBuildable'
]

def script_approval = ScriptApproval.get()

for(signature in signatures) {
  script_approval.approveSignature(signature)
}

script_approval.save()

println "Added approved script signatures."
