#!groovy

import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import java.nio.file.Files
import jenkins.model.Jenkins
import net.sf.json.JSONObject
import org.jenkinsci.plugins.plaincredentials.impl.*

// get Jenkins instance
Jenkins jenkins = Jenkins.getInstance()

// get credentials domain
def domain = Domain.global()

// get credentials store
def store = jenkins.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

// Key parameters
def key = [
  description:  'GitHub SSH Key',
  id:           'Git',
  secret:       '{{ git_ssh_password }}',
  userName:     '{{ git_ssh_user }}',
  key: new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource('''{{ git_ssh_key }}''')
]

// define private key
def privateKey = new BasicSSHUserPrivateKey(
    CredentialsScope.GLOBAL,
    key.id,
    key.userName,
    key.key,
    key.secret,
    key.description
)

// add credential to store
store.addCredentials(domain, privateKey)

// save to disk
jenkins.save()
