#!groovy

import jenkins.model.Jenkins
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.domains.Domain
import com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl
import hudson.util.Secret

// get Jenkins instance
Jenkins jenkins = Jenkins.getInstance()

// get credentials domain
def domain = Domain.global()

// get credentials store
def store = jenkins.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

def UsernameWithPassword = [
  description:  'DockerHub Credentials',
  id:           'dockerhub',
  secret:       '{{ dockerhub_password }}',
  userName:     '{{ dockerhub_username }}'
]

// define DockerHub credentials
def jenkinsKeyUsernameWithPassword = new UsernamePasswordCredentialsImpl(
  CredentialsScope.GLOBAL,
  UsernameWithPassword.id,
  UsernameWithPassword.description,
  UsernameWithPassword.userName,
  UsernameWithPassword.secret
)

// add credential to store
store.addCredentials(domain, jenkinsKeyUsernameWithPassword)

// save to disk
jenkins.save()

