#!groovy

import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.plugins.credentials.impl.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import java.nio.file.Files
import jenkins.model.Jenkins
import net.sf.json.JSONObject
import org.jenkinsci.plugins.plaincredentials.impl.*

// get Jenkins instance
Jenkins jenkins = Jenkins.getInstance()

// get credentials domain
def domain = Domain.global()

// get credentials store
def store = jenkins.getExtensionList('com.cloudbees.plugins.credentials.SystemCredentialsProvider')[0].getStore()

// Github SSH Key parameters
def key = [
  description:  'GitHub SSH Key',
  id:           'Git',
  secret:       '{{ git_ssh_password }}',
  userName:     '{{ git_ssh_user }}',
  key: new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource('''{{ git_ssh_key }}''')
]

// define Github private key
def privateKey = new BasicSSHUserPrivateKey(
    CredentialsScope.GLOBAL,
    key.id,
    key.userName,
    key.key,
    key.secret,
    key.description
)

// Jenkins SSH Key
def jenkins_ssh_key = new BasicSSHUserPrivateKey(
  CredentialsScope.GLOBAL,
  '{{ ssh_key_id }}',         // Credentional ID
  '{{ ssh_key_username }}',   // Username
  new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource('''{{ ssh_private_key }}'''),   // Private key
  '{{ ssh_key_secret  }}',    // Passphrase
  '{{ ssh_key_description }}' // Description
)

// add credential to store
store.addCredentials(domain, privateKey)
store.addCredentials(domain, jenkins_ssh_key)

// save to disk
jenkins.save()
