#!groovy

import jenkins.model.*

def instance = Jenkins.getInstance()

// Set number of executors on master
instance.setNumExecutors(1)

// Set jenkins slave port
instance.setSlaveAgentPort({{ jenkins_slave_port }})

instance.save()
