#!groovy

import jenkins.model.*
import hudson.security.*
import org.jenkinsci.plugins.matrixauth.PermissionEntry
import org.jenkinsci.plugins.matrixauth.AuthorizationType

def instance = Jenkins.getInstance()

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount('{{ admin_username }}','{{ admin_password }}')            // Admin
hudsonRealm.createAccount('{{ jnlp_agent_username }}','{{ jnlp_agent_password }}')  // Jenkins agents
instance.setSecurityRealm(hudsonRealm)

def strategy = new GlobalMatrixAuthorizationStrategy()
strategy.add(Jenkins.ADMINISTER, new PermissionEntry(AuthorizationType.USER, '{{ admin_username }}'))
strategy.add(Jenkins.READ, new PermissionEntry(AuthorizationType.USER, '{{ jnlp_agent_username }}'))
strategy.add(Jenkins.MasterComputer.CONNECT, new PermissionEntry(AuthorizationType.USER, '{{ jnlp_agent_username }}'))
instance.setAuthorizationStrategy(strategy)

instance.save()
