#!groovy

import jenkins.model.*

def instance = Jenkins.getInstance()

// Set number of executors on master
instance.setNumExecutors(4)

// Set label name on master
instance.setLabelString('master')

// Set jenkins agent port
instance.setSlaveAgentPort({{ jenkins_agent_port }})

instance.save()
