[Unit]
Description=Jenkins Server Daemon
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/etc/rc.d/init.d/jenkins start
ExecStop=/etc/rc.d/init.d/jenkins stop
Restart=always
RestartSec=15
Type=forking
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
