[Unit]
Description=Jenkins Slave
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory={{ jenkins_dir }}
User={{ jenkins_user }}
Group={{ jenkins_group }}
PermissionsStartOnly=true
ExecStartPre=/usr/bin/chown -R {{ jenkins_user }}:{{ jenkins_group }} {{ jenkins_dir }}
ExecStart=/usr/bin/java -jar agent.jar \
  -jnlpUrl http://{{ jenkins_master_host }}:{{ jenkins_master_port }}/computer/{{ ansible_hostname }}/slave-agent.jnlp \
  -jnlpCredentials {{ slave_username }}:{{ slave_password }} \
  -workDir "{{ jenkins_dir }}"
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
