---

name: pre-commit

on:
  pull_request:
    branches: [main]

  push:
    branches: [main]

  workflow_dispatch:

env:
  terraform_version: 1.6.6
  tflint_version: v0.50.2

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          # requites the history of the PR
          fetch-depth: 0

      - name: Cache TFLint plugin dir
        uses: actions/cache@v4
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}

      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
        with:
          tflint_version: ${{ env.tflint_version }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.terraform_version }}
          terraform_wrapper: false

      - name: Setup Python
        uses: actions/setup-python@v6

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --from-ref ${{ github.event.pull_request.base.sha }} --to-ref ${{ github.event.pull_request.head.sha }}
